<ul>
<li> 1. Создать бесплатный аккаунт на github.com.</li>
<li> 2. Склонировать Symfony 2.</li>
<li> 3. Создать главную страницу с любым контентом. (приветствуется использование 
шаблонизатора Twig)</li>
<li> 4. На главной странице создать ссылку на другую страницу с url http://названиесайта/
userform.</li>
<li> 5. На этой странице создать форму с текстовым полем и кнопкой.</li>
<li> 6. После нажатия на кнопку делаются 2 запроса с введенной с текстовое поле фразой – в 
поиск Google и в поиск Яндекса.</li>
<li> 7. Сравнить полученные результаты и выдать на новой странице список ссылок,
сгруппированный по типам - которые есть только в выдаче Google, которые есть только в 
выдаче Яндекса и которые есть в обеих ответах.</li>
<li>8. При этом роутинг должен быть таковым, чтобы те же самые результаты можно было 
полчить обновив полученный урл</li>
<li> 9. Роутинг и Форма должны быть созданы с использованием технологии Symfony 2.</li>
</ul>
<a href="{{path('task_pegas')}}">Тестовое задание</a>